<!DOCTYPE html>
<html>
    <body>
        <h3>Contactos</h3>

        <a href="/Nuevo-Contacto">Agregar contacto</a>
        <br><br>
        <a href="/Ver-Contactos">Ver contactos</a>
    </body>
</html>