<!DOCTYPE html>
<html>
    <body>
        <h3>Agregar contacto</h3>

        <form action="" method="post">
            <label for="">Nombre Completo:</label> <input type="text" name="Nombre" placeholder="Nombre y Apellidos">
            <br><br>
            <label for="">Número de Casa:</label> <input type="number" name="NumeroCasa" id="" placeholder="55 5555 5555">
            <br><br>
            <label for="">Número de Celular:</label> <input type="number" name="NumeroCelular" placeholder="55 5555 5555">
            <br><br>
            <label for="">Relación:</label>
            <select name="Relacion">
                <option value="Amigo">Amigo</option>
                <option value="Familiar">Familiar</option>
                <option value="Trabajo">Trabajo</option>
            </select>
            <br><br>
            <button type="submit">Agregar contacto</button>
        </form>
        <br>
        <a href="/">Inicio</a>
    </body>
</html>